h1 {
    color:cornflowerblue;
}
h3{
    text-align: center;
}
.bigFishPic {
    width: 100%;
    height: 400px;
}

.fishyProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemFishy{
    border: 3px solid black;
    width: 100px;
}

.itemFishy img {
    width: 100px;
    height: 100px;
}